.hello-message {
    text-align: center;

    .content {
        font-weight: 500;
    }

    :not(.name) .label {
        margin-right: 10px;
    }

    .name {
        padding: 10px 0px;
        color: green;
        font-size: 20px;
    }
}

.title {
    font-weight: 500;
    padding: 0px 10px;
    color: green;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}